<h1>Events</h1>

<div class="form-inline ">
    <div class="d-flex col-4 bg-white mb-2">
        <label class="me-2 fs-3">Filter: </label>
        <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="listFilter">
    </div>
    <!-- <h4 >Filtro: {{listFilter}}</h4> -->
</div>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                <button class="btn btn-outline-secondary text-light"
                data-bs-toggle="collapse" (click)="showImg = !showImg">Image</button>
            </th>
            <th>#</th>
            <th>Theme</th>
            <th>Local</th>
            <th>Data</th>
            <th>People Qtt</th>
            <th>Batch</th>
            <th>Options</th>
    </tr>
    </thead>
    <tbody *ngIf="events && events.length">
        <tr *ngFor="let evento of eventsFiltered">
            <td>
                <img src="assets/{{evento.imagemURL}}" [style.width.px]= "imgWidth" 
                  alt="Event image" [collapse]="!showImg" [isAnimated]="true">
            </td>
            <td>{{evento.eventoId}}</td>
            <td>{{evento.tema}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.dataEvento}}</td>
            <td>{{evento.qtdPessoas}}</td>
            <td>{{evento.lote}}</td>
            <td>
                <button class="btn btn-primary me-2">Edit</button>
                <button class="btn btn-danger">Remove</button>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventsFiltered.length">
        <td colspan="8" class="text-center">
            <h4>There`s no event found</h4>
          </td>
    </tfoot>

</table>
