<div class="card p-4">
    <form action="">
        <label for="theme" class="form-label">Theme:</label>
        <input type="text" name="theme" id="theme" class="form-control mb-3" placeholder="Insert theme"/>
        
        <div class="d-block d-md-flex col-12 ">
            <div class="col-md-8 pe-md-2">
                <label for="local" class="form-label">Local:</label>
                <input type="text" name="local" id="local" class="form-control mb-3" placeholder="Insert the local address"/>
            </div>
            <div class="col-md-4 ps-md-2">
                <label for="date-time" class="form-label">Date-time:</label>
                <input type="date" name="date-time" id="date-time" class="form-control mb-3" />
            </div>
        </div>
        <div class="d-block d-md-flex col-12">
            <div class="col-md-2">
                <label for="people-qtt" class="form-label">People Qtt</label>
                <input type="number" name="people-qtt" id="people-qtt" class="form-control mb-3" placeholder="Ex:1000"/>
            </div>
            <div class="col-md-4 px-md-3">
                <label for="number" class="form-label">Number</label>
                <input type="number" name="number" id="number" class="form-control mb-3" placeholder="Ex: (00) 00000-0000" />
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control mb-3" placeholder="Ex: email@email.com">
            </div>
        </div>
        <div class="card-footer p-3 d-flex justify-content-between">
            <input type="reset" class="btn btn-outline-secondary  col-5 col-md-2" value="Cancel changes"/>
            <input type="submit" class="btn btn-success  col-5 col-md-2" value="Save"/>
        </div>
    </form>
</div>
