<app-title [title]="'Events'"></app-title>

<div class="form-inline ">
    <div class="d-flex col-4 bg-white mb-2">
        <label class="me-2 fs-3">Filter: </label>
        <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="filtroLista">
    </div>
    <!-- <h4 >Filtro: {{filtroLista}}</h4> -->
</div>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                <button class="btn btn-outline-secondary text-light"
                data-bs-toggle="collapse" (click)="alterarImagem()">
                <i class="{{exibirImagem ? 'fa fa-eye': 'fa fa-eye-slash'}}"></i>
                    Image
                </button>
            </th>
            <th>#</th>
            <th>Theme</th>
            <th>Local</th>
            <th>Data</th>
            <th>People Qtt</th>
            <th>Batch</th>
            <th>Options</th>
    </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let evento of eventosFiltrados">
            <td>
                <img src="assets/{{evento.imagemURL}}" [style.width.px]= "larguraImagem" 
                  alt="Event image" [collapse]="!exibirImagem" [isAnimated]="true">
            </td>
            <td>{{evento.id}}</td>
            <td>{{evento.tema}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.dataEvento| DateFormat}}</td>
            <td>{{evento.qtdPessoas}}</td>
            <td>{{evento.lotes[0].nome}}</td>
            <td>
                <button class="btn btn-primary me-2" tooltip="Edit">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger" tooltip="Delete" (click)="openModal(template)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventosFiltrados.length">
        <td colspan="8" class="text-center">
            <h4>There`s no event found</h4>
          </td>
    </tfoot>

</table>

<ng-template #template>
    <div class="modal-body text-center">
      <p>Are you sure want to delete this event?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </ng-template>