<div class="d-flex align-items-center vh-100 ">
    
    <div class="text-center  mx-auto  shadow p-4 bg-white rounded align-middle">
        <form class="form-signin">
            <i class="fa fa-users fs-2 my-2"></i>
            <h2 class="my-3">Enter with</h2>
            <label for="username" class="sr-only">Name</label>
            <input id="username" name="username" type="text" placeholder="User" class="form-control" required />
            <label for="password" class="sr-only">Password</label>
            <input id="password" name="password" type="pass" placeholder="Password" class="form-control" required />
            <button class="btn btn-primary w-100 ">Entrar</button>
            <p class="my-3 text-muted">Do not have a login? registrate here.</p>
            <a class="btn btn-lg mb-5 text-primary" routerLink="/user/registration">I want to registrate</a>
        </form>
    </div>
</div>


